@import '../layouts/sidebar.css';

.dashboard__content {
  position: relative;
}

h2 {
  margin: 20px 0;
}

.dashboard__content-boxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  background: #c8c7c7;
  width: calc(100vw / 3 - 15px);
  border-radius: 12px;
  padding: 15px 10px;
  margin-top: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.box-topic {
  font-size: 20px;
  font-weight: 500;
}

.box-topic-profit {
  color: #04AA6D;
  font-weight: bold;
  font-size: 1rem;
}

.box-topic-loss {
  color: rgb(192, 10, 10);
  font-weight: bold;
  font-size: 1rem;
}

.number {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}

/* MEDIA QUERY */

@media screen and (max-width: 1018px) {
  .box {
    width: calc(100vw / 2 - 15px);
  }
}

@media screen and (max-width: 658px) {
  .dashboard {
    display: none;
  }

  .box {
    width: calc(100vw - 200px);
  }
}