.report {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
}

.report__header-financial, .report__header-production {
  width: 30%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.report__header-financial:hover,
.report__header-production:hover {
  background-color: rgb(42, 168, 42);
}

.report__header-link {
  text-decoration: none;
}

.report__header-link:hover {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .report {
    flex-direction: column;
  }

  .report__header-financial,
  .report__header-production {
    width: 80%;
    margin: 10px auto;
    text-align: start;
  }
}