.report {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.report__header-financial, .report__header-production {
  width: 300px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.report__header-financial:hover,
.report__header-production:hover {
  background-color: rgb(42, 168, 42);
}

.report__header-link {
  text-decoration: none;
}

.report__header-link:hover {
  color: #fff;
}

@media screen and (max-width: 640px) {
  .report {
    flex-direction: column;
  }

  .report__header-financial,
  .report__header-production {
    width: 80%;
    margin: 10px auto;
    text-align: start;
  }
}

.search__content {
  margin-bottom: 20px;
}

.search__content-input {
  display: inline-block;
  margin-right: 20px;
}


.search__content-field {
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgb(233, 230, 230);
}

.search__resource-field {
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgb(233, 230, 230);
}