<div id="<%= dom_id status %>" class="show">
  <p class="show__items">
    <span class="show__title"><strong>Name:</strong></span>
    <span class="show__content"><%= status.name %></span>
  </p>
</div>
