<%= render 'layouts/sidebar' %>

<div class="content__details">
  <h1>New status</h1>
  <%= render "form", status: @status %>
  <br>
  <div>
    <%= link_to "Back to statuses", statuses_path %>
  </div>
</div>
