<%= render 'layouts/sidebar' %>

<div class="content__details">
  <div class="resource-title">
    <h1>Add Status</h1>
    <div>
      <%= link_to "Back", statuses_path, class: "btn-back" %>
    </div>
  </div>
 
  <%= render "form", status: @status %>
  <br>
</div>
