<div id="<%= dom_id type %>" class="show">
  <p class="show__items">
    <span class="show__title"><strong>Name:</strong></span>
    <span class="show__content"><%= type.name %></span>
  </p>

</div>
