<%= render 'layouts/sidebar' %>

<div class="content__details">
  <div class="resource-title">
    <h1>Add Type</h1>
    <div>
      <%= link_to "Back", types_path, class: "btn-back" %>
    </div>
  </div>
  <%= render "form", type: @type %>
  <br>
  
</div>
