.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: rgb(5, 5, 95);
  transition: all 0.5s ease;
}

.active {
  width: 60px;
}

.sidebar__logo {
  height: 80px;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: rgb(5, 5, 66);
  cursor: pointer;
}

.sidebar__logo i {
  font-size: 28px;
  min-width: 60px;
  text-align: center;
}

.sidebar__logo-name {
  font-size: 20px;
  margin-left: 8px;
}

.sidebar__nav-links {
  margin-top: 16px;
}

.sidebar__nav-links li {
  height: 50px;
  width: 100%;
  list-style: none;
}

.sidebar__nav-links li a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.4s ease;
}

.logout {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.4s ease;
  background-color: rgb(5, 5, 95);
  border: none;
  cursor: pointer;
}

.logout:hover, .sidebar__nav-links li a:hover {
  background-color: rgb(7, 7, 65);
}

.sidebar__nav-links li a:active {
  background-color: rgb(7, 7, 65);
}

.logout i, .sidebar__nav-links li a i {
  font-size: 24px;
  min-width: 60px;
  text-align: center;
}


/* HOME-SECTION */

.home__section {
  background-color: #f8f5f5;
  position: relative;
  width: calc(100% - 240px);
  left: 240px;
  height: 80px;
  transition: all 0.5s ease;
}

.active ~ .home__section {
  width: calc(100% - 60px);
  left: 60px;
}

.active ~ .sidebar__nav-links li a {
  display: none;
}

.home__section nav {
  height: 80px;
  background-color: rgb(16, 47, 110);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__section-content {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.home__section-content i {
  font-size: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.home__section-profile {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 120px;

}

.home__section-profile__username {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.home__section-profile__username:hover {
  color: rgb(206, 204, 204);
}

/* MEDIA QUERY */

@media screen and (max-width: 1216px) {
  .sidebar {
    width: 60px;
  }

  .active {
    width: 220px;
  } 

  .home__section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .active ~ .home__section {
    width: calc(100% - 220px);
    left: 220px;
  }

  .content__details {
    width: calc(100% - 60px) !important;
    left: 60px !important;
  }

  .active ~ .content__details {
    width: calc(100% - 220px) !important;
    left: 220px !important;
  } 
}



