<%= render 'layouts/sidebar' %>
<div class="content__details">
  <h1>Editing income</h1>
  <%= render "form", income: @income %>
  <br>
  <div>
    <%= link_to "Show this income", @income, class: "btn-secondary" %> |
    <%= link_to "Back to incomes", incomes_path, class: "btn-back" %>
  </div>
</div>
