<%= render 'layouts/sidebar' %>

<div class="content__details">
  <div class="resource-title">
    <h1>New income</h1>
    <div>
      <%= link_to "Back", incomes_path, class: "btn-back" %>
    </div>
  </div>
  <%= render "form", income: @income %>
  <br>
  
</div>
