<%= render 'layouts/sidebar' %>
<div class="content__details">
  <h1>Editing flock</h1>
  <%= render "form", flock: @flock %>
  <br>
  <div class="btn">
    <%= link_to "Show this flock", @flock, class: "btn-success" %> 
    <%= link_to "Back to flocks", flocks_path, class: "btn-back" %>
  </div>
</div>
