<%= render 'layouts/sidebar' %>

<div class="content__details">
  <div class="resource-title">
      <h1>Add flock</h1>
      <div>
        <%= link_to "Back", flocks_path, class: "btn-back" %>
      </div>
  </div>
    <%= turbo_frame_tag "turbo_flock" do %>
      <%= render "form", flock: @flock %>
    <% end %>
  <br>

</div>
