<div id="<%= dom_id fixed_expense %>">
  <p>
    <strong>Date in:</strong>
    <%= fixed_expense.date_in %>
  </p>

  <p>
    <strong>Type of expense:</strong>
    <%= fixed_expense.type_of_expense %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= fixed_expense.cost %>
  </p>

</div>
