
<%= render 'layouts/sidebar' %>

<div class="content__details">
  <div class="resource-title">
    <h1>Add Fixed Expense</h1>
    <div>
      <%= link_to "Back", fixed_expenses_path, class: "btn-back" %>
    </div>
  </div>
  <%= render "form", fixed_expense: @fixed_expense %>
  <br>
</div>
