
<%= turbo_frame_tag "type_#{@batch.id}" do %>
  <div id="<%= dom_id batch %>" class="show">
    <p class="show__items">
      <span class="show__title"><strong>Batch no.</strong></span>
      <span class="show__content"><%= batch.batch_no %></span>
    </p>

    <p class="show__items">
      <span class="show__title"><strong>Type</strong></span>
      <span class="show__content"><%= batch.flock_type %></span>
    </p>
  </div>
<% end %>

