<%= render 'layouts/sidebar' %>

<div class="content__details">
  <div class="resource-title">
    <h1>Add Batch</h1>
    <div>
      <%= link_to "Back", batches_path, class: "btn-back" %>
    </div>
  </div>
  <%= render "form", batch: @batch %>
  <br>
  
</div>

