<%= render 'layouts/sidebar' %>
<div class="content__details">
  <h1>Editing expense</h1>
  <%= render "form", expense: @expense %>
  <br>
  <div class="btn">
    <%= link_to "Show this expense", @expense, class: "btn-success" %> 
    <%= link_to "Back to expenses", expenses_path, class: "btn-back" %>
  </div>
</div>
