<%= render 'layouts/sidebar' %>
<div class="content__details">
  <div class="report">
    <div class="report__header-financial">
      <h1><%= link_to "Financial", income_report_path, class: "report__header-link" %></h1>
    </div>
    <div class="report__header-production">
      <h1><%= link_to "Production", flock_report_path, class: "report__header-link" %></h1>
    </div>
  </div>
<div>