<%= render 'layouts/sidebar' %>
<div class="content__details">
  <div class="report">
    <div class="report__header-financial">
      <h1><%= link_to "Financial", financial_path %></h1>
    </div>
    <div class="report__header-production">
      <h1><%= link_to "Production", production_path %></h1>
    </div>
  </div>
<div>